*.pyc
*.DS_STORE
checkpoint/Sony/
checkpoint/Fuji/
checkpoint/DRV/
dataset/Sony/
dataset/Fuji/
dataset/DRV/
dataset/*.zip
src/VGG_Model/*
src/lpips-tensorflow/
src/venv/
src/*.sh
src/RAFT/
src/others/
results/
PerceptualImageError-master/
PIRM2018-master/
figures/
src/seeing-motion/results/
src/seeing-motion/result/
src/seeing-motion/checkpoints/
